VN_NEWS_CONFIG_HOST_DIR=/absolute/path/to/repos/vn-news-config/configs
VN_NEWS_DOCKER_NETWORK=vn-news-intelligence_default
VN_NEWS_FEED_INGESTOR_IMAGE=docker.io/toilachuoituyet/vn-news-feed-ingestor:0.1.0
ARTICLE_FETCHER_IMAGE=docker.io/toilachuoituyet/vn-news-article-fetcher:0.1.0
ARTICLE_EXTRACTOR_IMAGE=docker.io/toilachuoituyet/vn-news-article-extractor:0.1.0
AIRFLOW_IMAGE=docker.io/toilachuoituyet/vn-news-airflow:0.1.0
AIRFLOW_DB_PASSWORD=airflow-local
