OCI_RM_CONFIG_SOURCE_PROVIDER_OCID=ocid1.ormconfigsourceprovider.oc1.ap-singapore-1.replace-with-provider-ocid
OCI_RM_STACK_OCID=ocid1.ormstack.oc1.ap-singapore-1.replace-with-stack-ocid
OCI_TERRAFORM_VERSION=1.5.x

OCI_STACK_DISPLAY_NAME=tgb-vn-news-prod
VN_NEWS_INFRA_REPO_URL=https://github.com/ToGiaBaoKDL/vn-news-infra.git
VN_NEWS_INFRA_BRANCH=main
VN_NEWS_TERRAFORM_WORKING_DIR=terraform/oci
VN_NEWS_TFVARS_FILE=terraform/oci/terraform.tfvars.json
