bucket = "replace-with-terraform-state-bucket"
key    = "vn-news/cloudflare/terraform.tfstate"
region = "ap-singapore-1"

endpoints = {
  s3 = "https://replace-with-namespace.compat.objectstorage.ap-singapore-1.oraclecloud.com"
}

use_path_style              = true
use_lockfile                = true
skip_credentials_validation = true
skip_metadata_api_check     = true
skip_region_validation      = true
skip_requesting_account_id  = true
