VN_NEWS_RELEASE_TAG=replace-with-release-tag
VN_NEWS_IMAGE_TAG=replace-with-image-tag
VN_NEWS_IMAGE_REGISTRY=replace-with-image-registry
VN_NEWS_IMAGE_NAMESPACE=replace-with-image-namespace
VN_NEWS_CONFIG_HOST_DIR=/srv/vn-news-config/configs
VN_NEWS_REDPANDA_BOOTSTRAP_SERVERS=10.0.10.16:19092
VN_NEWS_SCHEMA_REGISTRY_URL=http://10.0.10.16:18081
VN_NEWS_STORAGE_ENDPOINT_URL=http://10.0.10.16:8333
VN_NEWS_SECRETS_HOST_DIR=/run/vn-news/secrets
VN_NEWS_HOST_SECRET_GROUP=vn-news
VN_NEWS_APP_UID=10001
VN_NEWS_INGESTION_S3_CREDENTIALS_SECRET_OCID=ocid1.vaultsecret.replace-with-ingestion-s3-credentials-secret-ocid
