VN_NEWS_RELEASE_TAG=0.2.5
VN_NEWS_CONFIG_HOST_DIR=/srv/vn-news-config/configs
VN_NEWS_REDPANDA_BOOTSTRAP_SERVERS=10.0.0.10:19092
VN_NEWS_SCHEMA_REGISTRY_URL=http://10.0.0.10:18081
VN_NEWS_STORAGE_ENDPOINT_URL=http://10.0.0.10:8333
VN_NEWS_VAULT_OCID=ocid1.vault.replace-with-data-vault-ocid
VN_NEWS_INGESTION_S3_SECRET_OCID=ocid1.vaultsecret.replace-with-ingestion-s3-secret-ocid
